{% load static %}
<!DOCTYPE html>
<html>

<head>
<link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap"
    rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Career Guidance/FAQ page</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>

<body>
	<div class="page">
		<div class="header">
			<form action="faq" method="get">
			<a href="index.html" id="logo">Career Guidance</a>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="blog">Blog</a></li>
				<li class="selected"><a href="faq">FAQ</a></li>
				<li><a href="about">About</a></li>
				<li><a href="getintouch">Get in touch</a></li>
          		<li><a href="account/signin">LogIn</a></li>
          		<li><a href="account/signup">Register</a></li>
			</ul>
		</div>
		<div class="body">
			<p><strong>

					What is blockchain software?

				</strong>
			</p>
			<p>
				Blockchain software is like any other software. The first of its
				kind was Bitcoin, which was released as <a
					href="https://opensource.com/resources/what-open-source">open
					source software</a>, making it available to anyone to use or
				change. There are a wide variety of efforts across the
				blockchain ecosystem to improve upon Bitcoin’s original
				software. Ethereum has its own open source blockchain software.
				Some blockchain software is proprietary and not available to the
				public.
			</p>
			<hr>
			<p><strong>


					What is a blockchain application?
				</strong>
			</p>
			<p>
				Blockchain applications are comparable to conventional software
				applications, except they implement a decentralized architecture
				and cryptoeconomic systems to increase security, foster trust,
				tokenize assets, and design new network incentives. Here are
				over 90 <a
					href="https://www.simplilearn.com/tutorials/blockchain-tutorial/what-is-ethereum">Ethereum
					apps </a> that are currently being used across the Ethereum
				blockchain ecosystem, from prediction markets to smart legal
				agreements.
			</p>
			<hr>
			<p><strong>


					How is cloud computing different from utility, on-demand and
					grid computing?

				</strong>
			</p>

			<p>
				Cloud by its nature is "on-demand" and includes attributes
				previously associated with utility and grid models. Grid
				computing is the ability to harness large collections of
				independent compute resources to perform large tasks, and
				utility is metered consumption of IT services, says Kristof
				Kloeckner, the cloud computing software chief at IBM. The coming
				together of these attributes is making the cloud today's most
				"exciting IT delivery paradigm," he says.
			</p>
			<hr>
			<p><strong>


					Is cloud computing the same as software-as-a-service?

				</strong>
			</p>

			<p>
				You might say <a
					href="https://searchcloudcomputing.techtarget.com/definition/Software-as-a-Service">software-as-a-service
				</a> kicked off the whole push toward cloud computing by
				demonstrating that IT services could be easily made available
				over the Web. While SaaS vendors originally did not use the word
				cloud to describe their offerings, analysts now consider SaaS to
				be one of several subsets of the cloud computing market.

			</p>
			<hr>
			<p><strong>How machine learning and data science
					interrelated?</strong>
			</p>
			<p> data science is a broad term for multiple disciplines,
				machine learning fits within data science. Machine learning uses
				various techniques, such as regression and supervised
				clustering. On
				the other hand, the data in data science may or may not evolve
				from
				a machine or a mechanical process. The main difference between
				the
				two is that data science as a broader term not only focuses on
				algorithms and statistics but also takes care of the entire data
				processing methodology.</p>
			<hr>
			<p><strong>How are Quantum Computers Relevant to IT
					Security?</strong>
			</p>
			<p>Many important aspects of IT security rely on encryption and
				public-key cryptography, which are essential for e-commerce and
				protecting secret electronic information.
				These techniques are based in turn on mathematical algorithms
				that
				are very difficult to “break”. Modern algorithms with suitable
				key
				lengths (e.g. AES-128, RSA-2048, ECDSA-256, etc.) are not
				susceptible to brute force attack – even with massive amounts of
				computing power, they would take centuries or, in some cases,
				even
				longer than the lifetime of the universe to break.
				However, it is possible to create unique algorithms for quantum
				computers (e.g. “Shor’s algorithm”) that dramatically reduce the
				time it takes to break these algorithms.</p>
			<hr>
			<p><strong>What is the core behind the neural network?</strong>
			</p>
			<p>The core idea behind the distributed representation is the
				sharing
				of statistical strengths where different components of the
				architecture are re-used for different purposes.
				Deep neural architectures are composed of multiple layers
				utilizing
				non-linear operations, such as in neural nets with many hidden
				layers. There are often various factors of variation in the
				dataset,
				like aspects of the data separately and often independently may
				vary.
				Deep Learning algorithms can capture these factors that explain
				the
				statistical variations in the data, and how they interact to
				generate the kind of data we observe. Lower-level abstractions
				are
				more directly tied to particular observations; on the other
				hand,
				higher-level ones are more abstract because their connection to
				perceived data is more remote.</p>
			<hr>
		</div>
		<div class="footer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="blog">Blog</a></li>
          <li class="selected"><a href="faq">FAQ</a></li>
          <li><a href="about">About</a></li>
          <li><a href="getintouch">Get in touch</a></li>
		  <li><a href="account/signin">LogIn</a></li>
          <li><a href="account/signup">Register</a></li>
        </ul>
      </div>
	</div>
	</form>
	</div>
</body>
</html>