{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Career Guidance/SignIn</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  </head>

  <body>
    <div class="page">
      <div class="header">
        <a href="index.html" id="logo">Career Guidance</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/getintouch">Get in touch</a></li>
          <li class="selected"><a href="signin">LogIn</a></li>
          <li><a href="signup">Register</a></li>
        </ul>
      </div>
      <div class="body">
				<div class="container">
          <form action="signin" method="post">
            {% csrf_token %}
                      <label for="fname">User name</label>
                      <input type="text" id="fname" name="User_Name" placeholder="Enter your username">

                      <label for="fname">Enter Password </label> <br><br>
                      <input type="password" id="fname" name="EnterPassword" placeholder="Enter Your Password here"> <br> <br>

                      <input type="submit" value="Login">
                    </form>
                    <div>
                      {% for message in messages %}
                          <h2>{{message}}</h2>
                      {% endfor %}
                </div>
			  </div>
      </div>
      <div class="footer">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/getintouch">Get in touch</a></li>
          <li class="selected"><a href="signin">LogIn</a></li>
          <li><a href="signup">Register</a></li>
				</ul>
			</div>
    </div>
  </body>
</html>
